source https://nuget.org/api/v2

nuget CsvHelper
nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Insight.Database
nuget Insight.Database.Providers.OracleManaged
nuget Chessie
nuget odp.net.managed
nuget xunit
nuget xunit.runner.visualstudio
nuget FluentAssertions
nuget FakeItEasy
nuget FSharp.Core
nuget UnionArgParser
nuget Akka
nuget Suave
nuget FSharp.Data
nuget RegexProvider

github fsharp/FAKE modules/Octokit/Octokit.fsx